{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Swadesi Blog</title>
    <link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <style type="text/css">
      html,
      body {
          height: 100%;
      }
      html {
          display: table;
          margin: auto;
      }
      body {
          display: table-cell;
          vertical-align: middle;
      }
      .margin {
        margin: 0 !important;
      }
      .text_details {
        color: purple;
        font-family: 'Courier New', monospace;
        font-size: 20px
      }
    </style>
  </head>
  <body>
  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login_form" method="POST" action="">{% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <!-- <img src="http://w3lessons.info/logo.png" alt="" class="responsive-img valign profile-image-login"> -->
            <p class="center login-form-text text_details">LOGIN</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="username" type="text" name="username">
            <label style="color:#4d004d">Username</label>
            {{ form.username.errors }}
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" name="password">
            <label style="color:#4d004d">Password</label>
            {{ form.password.errors }}
          </div>
        </div>
          {% if not form.username.errors and not form.password.errors and form.errors %}
            <p class="login_error">Username and Password Did Not Match</p>
          {% endif %}
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12" style="background-color:#4d004d">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <p class="margin medium-small" style="text-align:center;">New Here!?  <a href="/register/" style="color:#4d004d">Register Now!</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!--materialize js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
</html>
{% endblock %}
